@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Wix+Madefor+Display:wght@400..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;

@tailwind utilities;



*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;

}

html {
  scroll-behavior: smooth;
}


.topHead{
  /* border:4px solid black ; */
  /* box-shadow: 3px 10px 15px rgb(158, 157, 157); */
  z-index: 999;
  border-bottom: 1px solid rgb(233, 227, 227);
  
}

.navItems .navItem{
  font-weight: 600;
  
}


.navItem:hover{
  color: #2F2BF6;
 
  
}
.sign_up_button:hover{
  background-color: #fff;
  transition: 0.7s;
  border: 1px solid #2F2BF6;
}

.sign_up_button{
  border: 1px solid #2F2BF6;
  color: #fff;
  font-weight: 600;
}
.sign_up_button:hover{
  color: #2F2BF6;
  font-weight:600;
}

.navbar{
  width: 100vw;
  position: sticky;
  top: 0;
}



.aboutTitle,
.aboutdetail,
.samipTitle {
  font-family: poppins;
}

.text-style {
  font-family: "Inter", sans-serif;
  /* Goals.jsx */
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  /* Goals.jsx */
  font-family: "Inknut Antiqua", serif;
  ;
}



.box1 {
  background-color: #D9D9D9;
  text-align: center;
  font-size: 25px;
  /* Goals.jsx */
  padding-top: 17px;
  overflow: hidden;
}

.box2 {
  background-color: #ffffff;
  text-align: center;
  font-size: 25px;
  /* Goals.jsx */
  padding-top: 17px;
  overflow: hidden;
}

.inner-font {
  font-family: "Inter", sans-serif;
  /* Goals.jsx */
}








::-webkit-scrollbar{
    width: 7px;
}


::-webkit-scrollbar-track{
    background-color:#d1e5ff;
}

::-webkit-scrollbar-thumb{
    background:linear-gradient(#8d89a3,#6c6799);
    border-radius: 20px;
    height: 20px;
}